*{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(107, 15, 211);
}

.contine{
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    /* height: 400px; */
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 10px;
    padding: 30px;
}

h2{
    font-weight: 800;
    color: #001e4d;
    font-size: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
   
}

.quiz{
    padding: 20px 0;
}
#Question{
    font-size: 18px;
    color: #001e4d;
    font-weight: 700;
}
.btn{
    background-color: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
}

.btn:hover{
    background-color: #222;
    color: #fff;
    transition: all 0.3s;
}

#Next{
    width: 150px;
   color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-left: 40%;
    border: 0;
    font-weight: 500;
    background-color: #001e4d;
    display: none;
}

#Next:hover{
    background-color: #f1d6d6;
    color: #cf1616;
    transition: all 0.3s;
    cursor: pointer;
}

.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}
.btn:disabled{
    cursor: no-drop;
}